<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Twitter API Automation Suite" parallel="methods" thread-count="3">
    <test name="Twitter API Tests">
        <classes>
            <class name="com.firstProject.testrunner.TestRunner"/>
        </classes>
    </test>
</suite> 